body {
    background-color: grey;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-items: center ;
    align-items: center;
}

 .hide{
    display: none;
}


.center-div
{
    background-color: #fff;
    width: 600px;
    display: block;
    margin: auto auto;
    padding: 20px;
    border-radius: 4px;
}

#quiz-section ol li
{
    line-height: 27px;
    cursor: pointer;
}